/* BasicTable.css */

/* Styling for the table container */
.TableContainer {
    margin: 20px auto;
    width: 90%;
  }
  
  /* Styling for the table */
  .Table {
    width: 100%;
    border-collapse: collapse;
  }
  
  /* Styling for table header cells */
  .TableHeadCell {
    background-color: #040122; /* Light gray background */
    font-weight: bold;
  }
  
  /* Styling for table body cells */
  .TableCell {
    padding: 12px;
    border-bottom: 1px solid #ddd; /* Bottom border */
  }
  
  /* Styling for even table rows */
  .TableRow:nth-child(even) {
    background-color: #f9f9f9; /* Light gray background */
  }
  
  /* Styling for table row hover effect */
  .TableRow:hover {
    background-color: #9c95d2; /* Lighter gray background on hover */
  }
  